{% extends 'base.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('css/post_view.css') }}">
{% endblock %}

{% block body %}
    <article class="full">
        <h1>{{ post.title }}</h1>
        <h4>{{ post.category.name }}</h4>
        <time>{{ post.publicationDate | date('d-m-Y H:i') }}</time>
        <br/>
        <img src="{{ asset('img/' ~post.image ) }}" width="200px" alt="{{ post.title }}">
        <div class="content">
            {{ post.body | raw }}
        </div>
        <div class="source">Source: <a href="{{ path('home') }}">News Portal</a></div>
    </article>
{% endblock %}